<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to John's Home Watch, <%= @client.first_name %></h1>
    <p>
      After each inspection you will receive an email detailing the results of the inspection.
      Just reply to this email if you have any questions.
    </p>
    <p>Thanks for your business!</p>
  </body>
</html>