/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
 @import "bootstrap-sprockets";
 @import "bootswatch/cosmo/variables";
 @import "bootstrap";
 @import "bootswatch/cosmo/bootswatch";
 @import "font-awesome";

/**** Global Styles ****/
.container-fluid {
 padding: 0;
}

.btn  {
 text-transform: uppercase;
 font-weight: 600;
}

.form-horizontal label {
  text-transform: uppercase;
}

.form-label {
  text-transform: uppercase;
}

.btn {
  border-radius: 5px;
}

.inspection-date {
  color: #707070;
  font-weight: 600;
}

.alert h4 {
  font-weight: 700;
}
/**** Phone Styles ****/
 @media (max-width: 415px) {
   a.btn.btn-default.btn-lg {
    width: 100%;
    font-size: 21px;
  }

  .btn.btn-success {
    width: 100%;
    font-size: 21px;
  }

  .table.table-striped {
    margin-top: 20px;
  }

  .table.table-striped th {
    text-transform: uppercase;
    font-size: 20px;
  }

  .table.table-striped td {
    font-size: 20px;
  }

  .table.table-striped a {
    text-decoration: none;
  }

  .sign-in-fields {
    margin: 10px auto !important;
    width: 90%;
  }

  .navbar-brand {
    padding: 11.5px 15px 14.5px 30px;
  }

  #brand-header {
    display: inline;
    font-weight: 700;
    font-size: 24px;
    padding-left: 5px;
  }

  .fa-user-secret {
    font-size: 30px;
  }

  li a {
    font-weight: 700;
    margin-left: 10px;
  }

  .inspection-btn {
    font-size: 18px !important;
    line-height: 20px !important;
    margin-top: 10px;
    width: 100%;
  }

  .create-inspection-btn {
    width: 100%;
    font-size: 21px;
  }

  .inspection-show h4{
    margin-top: 0;
  }

  .client-show h4 {
    margin-top: 0;
  }
}

